@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-inter dark:bg-dark dark:text-white;
}

.btn {
  @apply py-2 px-4 font-semibold rounded-lg;
}

.card {
  @apply rounded-2xl shadow-lg shadow-black/10 w-9/12;
}

footer a{
  @apply underline;
}

.search-box{
  @apply dark:bg-dark dark:border-white/30 dark:placeholder:text-white/30 w-full px-4 py-2 border-black/30 rounded-lg border outline-none focus:border-brandColor/80 transition ease-out duration-300;
}

.done-button{
  @apply rounded-lg p-3 px-10 font-bold text-white shadow-[0_0_30px] shadow-green-500/60 fixed bottom-7  bg-green-500 
}

.badge{
  @apply text-sm absolute w-7 p-1 -top-2 -right-2 bg-red-500 rounded-full shadow-md shadow-red-500/50;
}

.disabled-button{
  @apply disabled:bg-black/30 disabled:text-white/50 disabled:shadow-none disabled:dark:bg-white/10 dark:disabled:text-white/10;
}

.changelog-section h2{
  @apply font-extrabold text-4xl mt-10 text-brandColor;
}

.changelog-section h3{
  @apply font-bold text-lg ml-3;
}

.changelog-section ul{
  @apply list-disc ml-10;
}

.changelog-section > blockquote > p {
  @apply text-sm my-5 leading-relaxed muted;
}

.changelog-section li{
  @apply text-sm py-1 leading-relaxed;
}

.changelog-section code{
  @apply font-mono bg-black/10 dark:bg-white/20 p-0.5 rounded-md;
}

.changelog-section h4{
  @apply text-xl my-2;
}

.pagination{
  @apply flex justify-center items-center space-x-2 space-y-2 flex-wrap;
}

li{
  @apply my-1;
}

.pg{
  @apply w-full h-full p-2;
}

.pg-active{
  @apply border-2 border-brandColor rounded-lg;
}

.muted{
  @apply text-black/50 dark:text-white/50;
}

.spacing{
  @apply my-10;
}

.section h2{
  @apply font-bold text-xl my-1;
}

.section p{
  @apply muted leading-relaxed;
}

.section-card{
  @apply dark:bg-darkCard p-5 rounded-xl border dark:border-white/10 border-black/30 ;
}

        input[type="range"]::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            -webkit-appearance: none;
            appearance: none;
            cursor: auto;
            background: #FFF;
            box-shadow: -405px 0 0 400px #dd2049;
            border-radius: 50%;
            
        }